.env
node_modules/
*.jks
*.keystore
app/build/
.gradle/
manual/apk/
manual/out/
manual/*.zip
*.class
manual/apk/
manual/out/
manual/*.zip
*.class
android-35.jar
android-stubs/
check/
test-framework-manifest.xml
