<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forichi.app"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="35" />

    <application android:icon="@drawable/forichi_icon" android:roundIcon="@drawable/forichi_icon"
        android:label="ForiChi"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".screens.ConfirmOrderActivity" android:exported="false" />
        <activity android:name=".screens.OrderSuccessActivity" android:exported="false" />
        <activity android:name=".screens.CityActivity" android:exported="false" />
        <activity android:name=".screens.SpecialistProfileActivity" android:exported="false" />
        <activity android:name=".screens.ServiceDetailActivity" android:exported="false" />
        <activity android:name=".screens.SearchActivity" android:exported="false" />
        <activity android:name=".screens.AddServiceActivity" android:exported="false" />
        <activity android:name=".screens.OrdersActivity" android:exported="false" />
        <activity android:name=".screens.RatingActivity" android:exported="false" />
        <activity android:name=".screens.SpecialistRegisterActivity" android:exported="false" />
        <activity android:name=".screens.AdminActivity" android:exported="false" />
        <activity android:name=".screens.LoginActivity" android:exported="false" />
        <activity android:name=".screens.RegisterActivity" android:exported="false" />

        <activity android:name=".screens.ProfileActivity" android:exported="false" />
        <activity android:name=".screens.WalletActivity" android:exported="false" />
        <activity android:name=".screens.SettingsActivity" android:exported="false" />
        <activity android:name=".screens.NotificationsActivity" android:exported="false" />
    </application>

</manifest>
